body {
    margin: 0;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #256aff;
    padding: 4px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
}

.searchForm {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;

}

.inputSearch {
    border: none;
    height: 30px;
    width: 380px;
    outline: none;
    border-radius: 5px;
}

.buttonSubmit {
    height: 30px;
    border: none;
    background: none;
    outline: none;
}